<div class="col-md-4"> 
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <h3 class="panel-title text-center">{{titulo}}</h3>
	    </div>
	    <div class="panel-body" ng-transclude>
	    </div><!-- fim panel-body interno -->
	</div>
</div>