<!DOCTYPE html>
<html lang="pt-br" ng-app="alurapic">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Alurapic</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <script src="js/lib/angular.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/controllers/fotos-controller.js"></script>
        <script src="js/directives/minhas-diretivas.js"></script>
    </head>
    <body>
        <div class="container" ng-controller="FotosController">
            
            <div class="jumbotron">
                <h1 class="text-center">Alurapic</h1>
            </div>
            
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        HEROES
                    </div>
                    <div class="panel-body">
                        
                        <!-- PAINEL INTERNO -->
                        <meu-painel ng-repeat="character in characters.data.results" titulo="{{character.name}}">
                            <img class="img-responsive center-block" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" title="{{character.name}}" width="200em">
                        </meu-painel>

                    </div><!-- fim panel-body -->
                </div>
            </div>

            <p> List count: {{characters.data.count}} </p>
        </div> <!-- fim container -->        
    </body>
</html>